html,body,#react-content,#mainBox{width: 100%;height: 100%;overflow-x: hidden;overflow-y: auto;}
body{font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,
Microsoft YaHei,SimSun,sans-serif;line-height: 1.5;color: rgba(0,0,0,.65);font-size: 14px;background: #fff;
-webkit-transition: background 1s cubic-bezier(.075,.82,.165,1);transition: background 1s cubic-bezier(.075,.82,.165,1);
overflow-x: hidden;}
/*************************** 按钮 ***************************/
.ant-btn{margin: 3px 5px;}
.searchForm .ant-btn{margin: 0;}

/*************************** 遮罩层 ***************************/
.ant-spin-container{height: 100%;}

/*************************** 自定义时间选择器 ***************************/
.my-TimePicker-wrapper{width: 100%;position: relative;}
/* 选择器输入框 */
.my-TimePicker-header{width: 100%;}
/* 选择器内容 */
.my-TimePicker-content{box-sizing: border-box;background-color: #fff;border-radius: 5px;position: absolute;top: 30px;z-index: 999;
border-right: 1px solid #e9e9e9;width: 100%;transition: all .3s;overflow: hidden;height: 0px;}
/* 选择器内容外层容器及时间容器 */
.my-TimePicker-content:after, .my-TimePicker-content .my-TimePicker-content-box:after{clear: both;visibility: hidden;font-size: 0;
height: 0;content: " ";display: table;}
.my-TimePicker-content .my-TimePicker-content-box{float: left;box-sizing: border-box;width: 50%;overflow: hidden;max-height: 138px;}
.my-TimePicker-content .my-TimePicker-content-box:hover{overflow-y: auto;}
/* ul时间容器 */
.my-TimePicker-content-box .my-TimePicker-content-menu{box-sizing: border-box;width: 100%;font-size: 12px;box-sizing: border-box;
overflow: hidden;border-left: 1px solid #e9e9e9;padding-bottom: 112px;}
/* 时间选择选中与禁止 */
.my-TimePicker-content-menu > li.my-TimePicker-time-selected{background: #d8d8d8;font-weight: 700;}
.my-TimePicker-content-menu > li.my-TimePicker-time-selected-disabled:hover{cursor: not-allowed;background: #fff}
.my-TimePicker-content-menu > li.my-TimePicker-time-selected-disabled{color: rgba(0,0,0,.25);}
/* li时间选项 */
.my-TimePicker-content-menu > li{list-style: none;box-sizing: content-box;margin: 0;padding: 0 0 0 26px;width: 100%;height: 28px;
line-height: 28px;text-align: left;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
user-select: none;-webkit-transition: background .3s ease;transition: background .3s ease;}
.my-TimePicker-content-menu > li:hover{cursor: pointer;background-color: #c0e5ff;}

/*************************** 加载旋转框 ***************************/
.ant-spin-nested-loading > div > .ant-spin{position: absolute;height: 100%;width: 100%;z-index: 4;max-height: 100%;}

/*************************** 登录样式 ***************************/
.login-wrap{width: 100%;height: 100%;background-image: url('/img/logo-bk.jpg');background-size:cover; background-repeat: no-repeat;}
.login-form {width: 20em;height: 17em;position: absolute;top: 30%;right: 8em;padding: 1.8em 1.5em 0 1.5em;
background-color: rgba(0,0,0,.1);box-shadow: 10px 10px 20px #0ff;border-radius: 5px;}
.login-form-forgot {float: right;}
.login-form-button {width: 100%;}

/*************************** 主体布局样式 ***************************/
#react-content > div{height: 100%;overflow-x: hidden;overflow-y: auto;}

/*************************** 头部样式 ***************************/
.ant-layout-header{padding: 0 24px;color:#000;}
/* 顶部菜单logo样式 */
.top-logo1{float: left;width: 180px;height: 64px;overflow: hidden;}
.top-logo1 > img{margin: 3px auto;}
/* 用户下拉菜单信息 */
.ant-dropdown-link, .ant-dropdown-trigger{color: #fff;float: right;}

/*************************** 侧边栏样式 ***************************/
.ant-layout-sider-zero-width-trigger{width: 20px;right: -20px;}

/*************************** 内容栏样式 ***************************/
/* 卡片容器 */
.panel{width: 100%;}
.panel > .ant-row{margin-bottom: 10px;}
.panel .ant-row .ant-card-body{padding: 10px;}
.ant-card-body::after{content: " ";clear:both; height:0; font-size:0; display: block; overflow:hidden;}
/* 卡片容器的右浮动按钮 */
.ant-card-body .ant-card-rightBtn{float: right;}
/* 卡片容器的面包屑导航 */
.ant-card-body .ant-breadcrumb{margin: 10px 0;}
/* table无内容时图标样式 */
.ant-card-body .ant-table-placeholder>span{font-size: 1.1rem;}

/*************************** 底部栏样式 ***************************/
.ant-layout-footer{padding: 10px 24px;color: #000;}

.sys-logo{background-image: url("/img/logo.png")}

/*头像上传*/
.avatar-uploader, .avatar-uploader-trigger, .avatar { width: 150px; height: 150px; }
.avatar-uploader { display: block; border: 1px dashed #d9d9d9; border-radius: 6px; cursor: pointer; }
.avatar-uploader-trigger { display: table-cell; vertical-align: middle; font-size: 28px; color: #999; }


/*活动页*/
.Activity{
	width: 100%;
}
.ActivityMain{
	width: 1200px;
	height: 967px;
	background-color: blue;
	margin: 0 auto;
}
.ActivityInfo{
	width: 300px;
	height: 643px;
	background-color: #fff;
	border: 1px solid #fff;
}
.ActivityInfoTopPic{
	margin-top: 20px;
}
.ActivityInfoTopPic a{
	margin-right: 18px;
}
.ActivityInfoTopPic a span{
	margin-left: 10px;
	color: orange;
}
.ActivityInfoTopBtn{
	width: 200px;
	height: 36px;
	border: 1px solid #edebea;
	border-radius: 8px;
	position: relative;
}
.ActivityInfoTopBtn button{
	width: 198px;
	height: 34px;
	border: none;
	outline: none;
	text-align: center;
	line-height: 36px;
	border-radius: 8px;
	background-color: #fff;
	cursor: pointer;
}
.RewardResultBtn{
	width: 200px;
	height: 36px;
}
.ActivityInfoTopBtn em{
	margin: -25px 0 0 165px;
	cursor: pointer;
}
.ActivityInfoMain{
	width: 298px;
	height: 530px;
	margin-top: 10px;
	background-color: #e9e6e6;
	border-radius: 8px;
	padding: 10px 10px 0 10px;
}
.BigTitle{
	font-size: 18px;
	color: #b00a0a;
}
.ActivityInfoMain li:nth-of-type(4),
.ActivityInfoMain li:nth-of-type(5){
	margin-top: 5px;
}
.ActivityInfoMainText p{
	text-indent: 1em;
}

/*设置点击签到的弹窗*/
.CheckInRoom{
	width: 545px;
	height: 281px;
	border: 1px solid #f8b052;
	background-color: #fffffe;
	position: absolute;
	z-index: 3;
	top: 61px;
	border-radius: 8px;
}
.CheckInRoomCenter{
	width: 520px;
	height: 270px;
	border: 1px solid #f8b052;
	border-radius: 8px;
	background-color: #ffdabd;
	margin: 9px auto;
}
.RoomCenterBtn{
	width: 100%;
}
/*在上面设计了一个签到按钮*/
/*.RoomCenterBtn>div{
	width: 116px;
	height: 33px;
	border: 1px solid #f8b052;
	margin: 0 auto;
	border-radius: 8px;
}*/
.RoomCenterBtn p{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 11px;
	right: 13px;
	border-radius: 50%;
	cursor: pointer;
}
.RoomCenterBtn p .anticon{
	font-size: 30px;
	color: #fda026;
}
.RoomCenterBtn>div button{
	width: 114px;
	height: 31px;
	border: none;
	outline: none;
	line-height: 31px;
	background-color: #ffecdc;
	border-radius: 8px;
	font-size: 16px;
	color: #fda026;
	cursor: pointer;
}
/*弹窗7天的签到的设置*/
.RoomCenterMain{
	width: 518px;
	height: 235px;
	border-radius: 8px;
	margin-top: 32px;
}
.RoomCenterMainUl{
	width: 518px;
	height: 235px;
}
.RoomCenterMainUl li{
	width: 95px;
	height: 77px;
	background-color: #fff5ec;
	margin: 10px 0 0 30px;
	border: 1px solid #febe75;
	border-radius: 8px;
}
.RoomCenterMainUl li:nth-of-type(5),
.RoomCenterMainUl li:nth-of-type(6),
.RoomCenterMainUl li:nth-of-type(7),
.RoomCenterMainUl li:nth-of-type(8){
	margin-top: 30px;
}
.RoomCenterMainUl li:nth-of-type(8),
.RoomCenterMainUl li:nth-of-type(8) b{
	border: none;
}
.RoomCenterMainUl li b{
	width: 80px;
	height: 66px;
	background-color: #fff5ec;
	border: 1px solid #febe75;
	border-radius: 8px;
	margin: 0 auto;
	position: relative;
}
.showBoxFirst{
	color: #18f928;
	font-size: 29px;
	position: absolute;
	top: -19px;
	left: -16px;
}
.showBox p{
	position: absolute;
	font-size: 14px;
	top: -12px;
	left: 22px;
}
.showBox span{
	display: block;
	margin-top: 12px;
}
.showBoxLast{
	width: 31px;
	height: 24px;
	position: absolute;
	top: 35px;
	left: 24px;
}
.showBoxTime{
	margin-bottom: 5px;
}
.showBoxCheck,
.showBoxCheck button{
	width: 60px;
    height: 26px;
    border-radius: 8px;
    margin: 0 auto;
    background-color: #fda026;
}
.showBoxCheck button{
    border: none;
    outline: none;
    font-size: 16px;
}
/*中奖结果的弹窗设置*/
.RewardResult{
	width: 656px;
	height: 163px;
	background-color: #ffffff;
	position: absolute;
	top: 36px;
	left: -2px;
	border-radius: 8px;
	border: 1px solid #edebea;
}
.RewardResult table{
	width: 90%;
	height: 90%;
	font-size: 16px;
	margin:10px 0 0 30px;
}
.RewardResult table thead{
	font-weight: bold;
}
.RewardResult table tbody{
	font-size: 14px;
}
.GetReward{
	width: 57px;
	height: 25px;
	background-color: #fab950;
	margin: 0 auto;
	line-height: 25px;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}
.RewardResultRem{
	width: 25px;
	height: 25px;
	position: absolute;
	right: 3px;
	top: 3px;
}
.RewardResultRem .anticon{
	font-size: 25px;
	cursor: pointer;
}









